<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <validation-block>
    <control-info>
      <control-id>ddl_ProcessName</control-id>
      <display-name>Process Name</display-name>
      <init-param>
        <attribute-name>isMandatory</attribute-name>
        <attribute-value>true</attribute-value>
      </init-param>
    </control-info>
   

    <control-info>
      <control-id>txt_InstanceID</control-id>
      <display-name>Instance ID</display-name>
      <init-param>
        <attribute-name>isMandatory</attribute-name>
        <attribute-value>true</attribute-value>
      </init-param>
      <init-param>
        <attribute-name>maxSize</attribute-name>
        <attribute-value>50</attribute-value>
      </init-param>
    </control-info>
    
  </validation-block>
  <action-block>
    <action-info>
      <action-name>getprocesslist</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>WorkSpace</datasource-name>
      <command-name>P_GET_PROCESSLIST</command-name>     
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getauditheader</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>WFE</datasource-name>
      <command-name>P_GET_AUDITHEADER</command-name>
      <param-name>ddl_ProcessName</param-name>
      <param-name>txt_InstanceID</param-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getauditdetails</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>WFE</datasource-name>
      <command-name>P_GET_AUDITDETAILS</command-name>     
      <output-type>datatable</output-type>
    </action-info>
    
  </action-block>
</configuration>

