<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <action-block>
    <action-info>
      <action-name>get user accesses</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>WorkSpace</datasource-name>
      <command-name>p_get_useraccess</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>get user accesses by object url</action-name>
      <dbprovider-name>oracle</dbprovider-name>
      <datasource-name>WorkSpace</datasource-name>
      <command-name>p_get_useraccess_objectname</command-name>
      <output-type>scalar</output-type>
    </action-info>
  </action-block>
</configuration>
