<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <action-block>
    <action-info>
      <action-name>select userinfo</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>WorkSpace</datasource-name>
      <command-name>P_GET_USERINFO</command-name>
      <output-type>datatable</output-type>
    </action-info>

    
    
    <action-info>
      <action-name>selectlobinfo</action-name>
      <dbprovider-name>oracle</dbprovider-name>
      <datasource-name>SMSGetLobDetails</datasource-name>
      <command-name>/BusinessServices/IntegrateWithOGL/OperationProcesses/intfGetVouPayDtls-service.serviceagent/intfwsGetVouPayDtlsEndpoint0/GetEmpDtlsOp</command-name>
      <xsdcommand-name>http://www.tibco.com/schemas/APPC_dev/SharedResources/Schemas/XSD/GetEmpDtls.xsd</xsdcommand-name>
      <xsdmethod-name>GetEmpDtlsReq</xsdmethod-name>
      <parameter>
        <company>sys_Company</company>
        <EmpNo>sys_EmployeeID</EmpNo>
      </parameter>
      <output-type>dataset</output-type>
    </action-info>


    <action-info>
      <action-name>loginattempt</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_LOGIN_COUNT</command-name>
      <output-type>scalar</output-type>
    </action-info>

    <action-info>
      <action-name>getcount</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_LOGIN_COUNT</command-name>
      <output-type>datatable</output-type>
    </action-info>
    
  </action-block>
</configuration>