<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <action-block>
    <action-info>
      <action-name>selectdetails</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ADVANCE_FILLDROPDOWN</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <!--<action-info>
      <action-name>addetails</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ADVANCE_DETAILS</command-name>
      <output-type>dataset</output-type>
    </action-info>-->
    <!--<action-info>
      <action-name>getaccapprover1</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ACC_APPROVER</command-name>
      <output-type>datatable</output-type>
    </action-info>-->
    <action-info>
      <action-name>saction</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_APPROVAL_SENDBACK_ACTION</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getaccapprover</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_TRAVEL_EXPENSE_APPROVER</command-name>
      <output-type>datatable</output-type>
    </action-info>
   
    <!--<action-info>
      <action-name>getaudit</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_AUDIT_TRIL</command-name>
      <output-type>datatable</output-type>
    </action-info>-->
    <action-info>
      <action-name>action</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_APPROVAL_ACTION_NEW</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>update</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_UPD_ADVANCE_APPROVAL</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>updatetwi</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_UPD_ADVANCE_TWI_APPROVAL</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>updatemode</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_UPD_ADVANCE_MODECHANGE</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getdetails</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_EXPENSE_ADVANCE_DETAILS</command-name>
      <output-type>dataset</output-type>
    </action-info>
    <action-info>
      <action-name>getadvanceamount</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_EXPENSE_ADVANCE_POLICY_AMOUNT</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getadvancedeviate</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_EXP_DEVIATE_APPROVER</command-name>
      <output-type>datatable</output-type>
    </action-info>
  </action-block>
</configuration>

