<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <validation-block>
    <control-info>
      <control-id>txt_RoleName</control-id>
      <display-name>Role</display-name>
      <init-param>
        <attribute-name>isMandatory</attribute-name>
        <attribute-value>true</attribute-value>
      </init-param>
    </control-info>
    <control-info>
      <control-id>ddl_Panel</control-id>
      <display-name>Panel</display-name>
      <init-param>
        <attribute-name>isMandatory</attribute-name>
        <attribute-value>true</attribute-value>
      </init-param>
    </control-info>
    <control-info>
      <control-id>txt_XMLData</control-id>
      <display-name>Access Objects and Access Rights</display-name>
      <init-param>
        <attribute-name>isMandatory</attribute-name>
        <attribute-value>true</attribute-value>
      </init-param>
     </control-info>
   </validation-block>
   <action-block>
     <action-info>
       <action-name>select roles</action-name>
       <dbprovider-name>sql</dbprovider-name>
       <datasource-name>WorkSpace</datasource-name>
       <command-name>P_GET_ACCESS_ROLES</command-name>
       <output-type>datatable</output-type>
     </action-info>
     <action-info>
       <action-name>select panelwise access objects</action-name>
       <dbprovider-name>sql</dbprovider-name>
       <datasource-name>WorkSpace</datasource-name>
       <command-name>p_get_panelwiseobjects</command-name>
       <param-name>sys_User_ADID</param-name>
       <param-name>txt_RoleName</param-name>
       <param-name>ddl_Panel</param-name>
       <output-type>datatable</output-type>
    </action-info>
     <action-info>
       <action-name>save object-role map</action-name>
       <dbprovider-name>sql</dbprovider-name>
       <datasource-name>WorkSpace</datasource-name>
       <command-name>p_amd_access_obj_role_map_make</command-name>
       <param-name>txt_XMLData</param-name>
       <param-name>sys_User_ADID</param-name>  
       <output-type>scalar</output-type>
     </action-info>
     <action-info>
       <action-name>select access object request summary</action-name>
       <dbprovider-name>sql</dbprovider-name>
       <datasource-name>WorkSpace</datasource-name>
       <command-name>p_get_objrolemaprequest</command-name>
       <output-type>datatable</output-type>
     </action-info>
     <action-info>
       <action-name>select access object request detail</action-name>
       <dbprovider-name>sql</dbprovider-name>
       <datasource-name>WorkSpace</datasource-name>
       <command-name>p_get_objrolemaprequestdet</command-name>
       <output-type>datatable</output-type>
     </action-info>
  </action-block>
</configuration>

