<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <action-block>
    <action-info>
      <action-name>pgettraveluser</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>WorkSpace</datasource-name>
      <command-name>P_GET_TRAVEL_USER1</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>inserttwi</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_UPD_MOBILE_LOCAL_DIRECT_APPROVAL</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <!--<action-info>
      <action-name>checkduplicate</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ADVANCE_REQUEST_DUPLICATE</command-name>
      <output-type>scalar</output-type>
    </action-info>-->
    <action-info>
      <action-name>insetmaildata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_HD_MAILLOG</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <!--<action-info>
      <action-name>insertaudittrail</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_AUDITTRAIL</command-name>
      <output-type>scalar</output-type>
    </action-info>-->
    <!--<action-info>
      <action-name>getadvanids</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ADVANCEIDS</command-name>
      <output-type>datatable</output-type>
    </action-info>-->
    <action-info>
      <action-name>pgettravelrequestapprover</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ER_REQUEST_APPROVER</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <!--<action-info>      
      <action-name>selectdetails</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ADVANCE_FILLDROPDOWN</command-name>
      <output-type>datatable</output-type>
    </action-info>-->
    <action-info>
      <action-name>insert</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_ADVANCE_REQUESTS</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <!--<action-info>
      <action-name>getaccapprover1</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ACC_APPROVER</command-name>
      <output-type>datatable</output-type>
    </action-info>-->

    <action-info>
      <action-name>getaccapprover</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_TRAVEL_EXPENSE_APPROVER</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getperiod</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ADVANCE_PERIOD_LIMIT</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getallamount</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ADVANCE_TOTALAMT</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <!--<action-info>
      <action-name>insertmaildata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_HD_MAILLOG</command-name>
      <output-type>scalar</output-type>
    </action-info>-->
    <action-info>
      <action-name>getappdetails</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ADVANCE_APPROVED_DETAILS</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getrequest_document</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_DOCUMENT_INFO</command-name>
      <output-type>datatable</output-type>
    </action-info>
    
    <action-info>
      <action-name>advdetails</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ADVANCE_DTL</command-name>
      <output-type>dataset</output-type>
    </action-info>

    <action-info>
      <action-name>advpoldetails</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ADVANCE_POLICY_DTL</command-name>
      <output-type>dataset</output-type>
    </action-info>
    
    
  </action-block>
</configuration>

