<?xml version="1.0"?>
<configuration>
  <action-block>
    <action-info>
      <action-name>getreportdata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_EXPENSE_REQUEST_STATUS_REPORT</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getadvancereport</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ADVANCE_DETAIL_REPORT</command-name>
      <output-type>datatable</output-type>
    </action-info>
  </action-block>
</configuration>
