<?xml version="1.0"?>
<configuration>
  <action-block>
    <action-info>
      <action-name>getpendingadvances</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_AR_PENDING_ADVANCES</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getapprovedperson</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ER_APPROVED_PERSON</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>insert</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_AR_INS_REQUEST</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>insertaudittrail</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_AUDITTRAIL</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>insetmaildata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_HD_MAILLOG</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getpreids</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_AR_PRE_IDS</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>update</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_AR_UPD_REQUEST</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>insertfta</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_AR_INS_REQUEST_FOREIGN</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getbankrfc</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_RFC_BANK_STRING_FTA_RETURN</command-name>
      <output-type>dataset</output-type>
    </action-info>
    <action-info>
      <action-name>getcashrfc</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_RFC_BANK_STRING_DA_RETURN</command-name>
      <output-type>dataset</output-type>
    </action-info>
	<action-info>
      <action-name>pgettravelrequestapprover</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ER_REQUEST_APPROVER</command-name>
      <output-type>datatable</output-type>
    </action-info>
  </action-block>
</configuration>
