<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <action-block>
    <action-info>
      <action-name>getreport</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_REPT_ADVANCE_REQUEST_DTL</command-name>
      <output-type>datatable</output-type>
    </action-info>

    
   
  </action-block>
</configuration>

