<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <action-block>
    <action-info>
      <action-name>getaddomain</action-name>
      <dbprovider-name>oracle</dbprovider-name>
      <datasource-name>WorkSpace</datasource-name>
      <command-name>p_get_ad_domain</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>update</action-name>
      <dbprovider-name>oracle</dbprovider-name>
      <datasource-name>WorkSpace</datasource-name>
      <command-name>p_update_m_ad_domain</command-name>
      <param-name>hdnid</param-name>
      <param-name>txtLastUpdate</param-name>
      <param-name>txtFlag</param-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getbusinessprocess</action-name>
      <dbprovider-name>oracle</dbprovider-name>
      <datasource-name>WorkSpace</datasource-name>
      <command-name>P_GET_M_BUSINESS_PROCESS</command-name>
      <output-type>datatable</output-type>
    </action-info>
     <action-info>
       <action-name>getdbjob</action-name>
       <dbprovider-name>oracle</dbprovider-name>
       <datasource-name>SWWH</datasource-name>
       <command-name>p_get_jobs</command-name>
       <output-type>datatable</output-type>
     </action-info>     
    <action-info>
      <action-name>insertbp</action-name>
      <dbprovider-name>oracle</dbprovider-name>
      <datasource-name>WorkSpace</datasource-name>
      <command-name>P_IU_M_BUSI_PROC</command-name>
      <param-name>txtProc_id</param-name>
      <param-name>txtProc_Desc</param-name>
      <param-name>txtStart_Type</param-name>
      <param-name>txtDisp_Seq</param-name>
      <param-name>ddlConfirm</param-name>
      <param-name>ddlDeleted</param-name>
      <param-name>txtDML</param-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>updatebp</action-name>
      <dbprovider-name>oracle</dbprovider-name>
      <datasource-name>WorkSpace</datasource-name>
      <command-name>P_IU_M_BUSI_PROC</command-name>
      <param-name>txtProc_id</param-name>
      <param-name>txtProc_Desc</param-name>
      <param-name>txtStart_Type</param-name>
      <param-name>txtDisp_Seq</param-name>
      <param-name>ddlConfirm</param-name>
      <param-name>ddlDeleted</param-name>
      <param-name>txtDML</param-name>
      <output-type>scalar</output-type>
    </action-info>
     <action-info>
       <action-name>deletebp</action-name>
       <dbprovider-name>oracle</dbprovider-name>
       <datasource-name>WorkSpace</datasource-name>
       <command-name>P_IU_M_BUSI_PROC</command-name>
       <param-name>txtProc_id</param-name>
       <param-name>txtProc_Desc</param-name>
       <param-name>txtStart_Type</param-name>
       <param-name>txtDisp_Seq</param-name>
       <param-name>ddlConfirm</param-name>
       <param-name>ddlDeleted</param-name>
       <param-name>txtDML</param-name>
       <output-type>scalar</output-type>
     </action-info>
   </action-block>
</configuration>
