<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <validation-block>
   
  </validation-block>
   <action-block>
     <action-info>
       <action-name>select access object request summary</action-name>
       <dbprovider-name>sql</dbprovider-name>
       <datasource-name>WorkSpace</datasource-name>
       <command-name>p_get_objrolemapverify</command-name>
       <output-type>datatable</output-type>
     </action-info>
     <action-info>
       <action-name>select access object request detail</action-name>
       <dbprovider-name>sql</dbprovider-name>
       <datasource-name>WorkSpace</datasource-name>
       <command-name>p_get_objrolemapverifydet</command-name>
       <output-type>datatable</output-type>
     </action-info>
     <action-info>
       <action-name>addremove user</action-name>
       <dbprovider-name>oracle</dbprovider-name>
       <datasource-name>WorkSpace</datasource-name>
       <command-name>p_get_users_for_ipe</command-name>
       <param-name>sys_User_ADID</param-name>
       <param-name>txt_RequestID_Save</param-name>
       <output-type>dataset~3</output-type>
     </action-info>
     <action-info>
       <action-name>addremove rights</action-name>
       <dbprovider-name>oracle</dbprovider-name>
       <datasource-name>WorkSpace</datasource-name>
       <command-name>p_get_adminusers_for_ipe</command-name>
       <param-name>sys_User_ADID</param-name>
       <param-name>txt_RequestID_Save</param-name>
       <output-type>dataset~1</output-type>
     </action-info>
     <action-info>
       <action-name>save checker action</action-name>
       <dbprovider-name>sql</dbprovider-name>
       <datasource-name>WorkSpace</datasource-name>
       <command-name>p_amd_access_obj_role_map_ver</command-name>
       <param-name>sys_User_ADID</param-name>
       <param-name>txt_RequestID_Save</param-name>
       <param-name>txt_ActionStatus_Save</param-name>
       <param-name>txt_Remark</param-name>
       <output-type>scalar</output-type>
     </action-info>
  </action-block>
</configuration>

