<?xml version="1.0"?>
<configuration>
  <action-block>
    <action-info>
      <action-name>getbulkrequests</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>wfe</datasource-name>
      <command-name>P_GET_BULK_APPROVE_REQUESTS</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getpaymentmode</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_TRAVEL_EXPENSE_PAYMENT_MODE</command-name>
      <output-type>datatable</output-type>
    </action-info>
   <action-info>
      <action-name>getreport</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_TRAVEL_EXPENSE_NEFT_REPORT</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>changeflag</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_TRAVEL_EXPENSE_NEFT_REPORT</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getbankdata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_TRAVEL_EXPENSE_BANK_DATA</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getpktransid</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_TRAVEL_EXPENSE_PK_TRANS_ID</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>pgetrequestdata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_FILENAMES</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getreqdetails</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_EXPENSES_DETAILS</command-name>
      <output-type>dataset</output-type>
    </action-info>

    <action-info>
      <action-name>getbankrfc</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_RFC_BANK_STRING_BULK</command-name>
      <output-type>dataset</output-type>
    </action-info>
    <action-info>
      <action-name>getbankrfcdel</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_RFC_BANK_STRING_BULK_delete</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getbankrfcsum</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_RFC_BANK_STRING_BULK_sum</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getcashrfc</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_RFC_CASH_STRING</command-name>
      <output-type>dataset</output-type>
    </action-info>
    <action-info>
      <action-name>saverfcdata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_RFC_DATA</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>saverfcdata1</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_RFC_DATA</command-name>
      <output-type>datatable</output-type>
    </action-info>
  </action-block>
</configuration>
