<?xml version="1.0"?>
<configuration>
  <action-block>
    <action-info>
      <action-name>getreqdetails</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_EXPENSES_VOUCHER_DETAILS</command-name>
      <output-type>dataset</output-type>
    </action-info>
    <action-info>
      <action-name>getapprovedperson</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ER_APPROVED_PERSON</command-name>
      <output-type>datatable</output-type>
    </action-info>
  </action-block>
</configuration>
