<?xml version="1.0"?>
<configuration>
  <action-block>
    <action-info>
      <action-name>getreport</action-name>
      <dbprovider-name>SQL</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_RPT_EXPENSE_NEFT_REPORT</command-name>
      <output-type>datatable</output-type>
    </action-info>
  </action-block>
</configuration>