<?xml version="1.0"?>
<configuration>
    <action-block>
      <action-info>
        <action-name>getpkcarexpns</action-name>
        <dbprovider-name>sql</dbprovider-name>
        <datasource-name>sme</datasource-name>
        <command-name>P_GET_CAR_EXPENSE_HDR</command-name>
        <output-type>datatable</output-type>
      </action-info>
      <action-info>
        <action-name>getcarexpnsdetails</action-name>
        <dbprovider-name>sql</dbprovider-name>
        <datasource-name>sme</datasource-name>
        <command-name>P_GET_CAR_EXPENSE_DTL</command-name>
        <output-type>dataset</output-type>
      </action-info>
      <action-info>
        <action-name>getfilenames</action-name>
        <dbprovider-name>sql</dbprovider-name>
        <datasource-name>sme</datasource-name>
        <command-name>P_GET_FILENAMES</command-name>
        <output-type>datatable</output-type>
      </action-info>
      <action-info>
        <action-name>update</action-name>
        <dbprovider-name>sql</dbprovider-name>
        <datasource-name>sme</datasource-name>
        <command-name>P_UPD_CAR_EXPENSE</command-name>
        <output-type>scalar</output-type>
      </action-info>

      <action-info>
        <action-name>getauditdtl</action-name>
        <dbprovider-name>sql</dbprovider-name>
        <datasource-name>sme</datasource-name>
        <command-name>P_GET_AUDITDTL</command-name>
        <output-type>datatable</output-type>
      </action-info>

      <action-info>
        <action-name>getsendback</action-name>
        <dbprovider-name>sql</dbprovider-name>
        <datasource-name>sme</datasource-name>
        <command-name>P_GET_CAR_EXPNS_SENBACK_APPROVER</command-name>
        <output-type>datatable</output-type>
      </action-info>


    </action-block>
</configuration>
