<?xml version="1.0"?>
<configuration>
  <action-block>
    <action-info>
      <action-name>pgettraveluser</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>WorkSpace</datasource-name>
      <command-name>P_GET_TRAVEL_USER1</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>pgettravelrequestapprover</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_TRAVEL_REQUEST_APPROVER</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>select</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_TRAVEL_RELATED_DATA</command-name>
      <output-type>dataset</output-type>
    </action-info>
    <action-info>
      <action-name>insert</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_INS_CAR_EXPENSE</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getjourneymapping</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_JOURNEY_EXPENSE_MAPPING</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>gettravelclass</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_TRAVEL_CITY_CLASS</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getpolicyamount</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_TRAVEL_POLICY_AMOUNT</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getexpenseids</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_EXPENSE_JOURNEY_MAPPING</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getjmcount</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_EXPENSE_JOURNEY_MAPPING_COUNT</command-name>
      <output-type>scalar</output-type>
    </action-info>

    <action-info>
      <action-name>getfilenames</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_FILENAMES</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>check</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_CHECK_CAR_EXPNS_AUTHE</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getfule</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_CHECK_CAR_FULE</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getm</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_CHECK_CAR_MAINTENANCE</command-name>
      <output-type>scalar</output-type>
    </action-info>

    <action-info>
      <action-name>getcardtl</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_CAR_EXP_DETAILS</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>gets</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_CHECK_CAR_DRIVER</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getu</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_CHECK_CAR_DRIVER_UNIFORM</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getb</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_CHECK_CAR_BATTERY</command-name>
      <output-type>scalar</output-type>
    </action-info>
  </action-block>
</configuration>
