<?xml version="1.0"?>
<configuration>
  <action-block>
    <action-info>
      <action-name>getcountry</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_CHART_COUNTRY</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getdata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_CHART_DATA</command-name>
      <output-type>datatable</output-type>
    </action-info>
  </action-block>
</configuration>
