<?xml version="1.0"?>
<configuration>
  <action-block>
    <action-info>
      <action-name>pamd</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_AMD_LC_LEGAL_COMPLIANCE_DETAILS</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>psearch</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_AMD_LC_LEGAL_COMPLIANCE_DETAILS</command-name>
      <output-type>datatable</output-type>
    </action-info>
  </action-block>
</configuration>
