<?xml version="1.0"?>
<configuration>

  <action-block>
    <action-info>
      <action-name>select</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_SEARCH1</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>insert</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_AMD_DOMESTIC_ADV_POLICY</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>fill</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_FILL_DROPDOWN</command-name>
      <output-type>datatable</output-type>
    </action-info>
  </action-block>
</configuration>