<?xml version="1.0"?>
<configuration>
  <action-block>
    <action-info>
      <action-name>pgettraveluser</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>WorkSpace</datasource-name>
      <command-name>P_GET_TRAVEL_USER1</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>selectlocation</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_SEARCH1</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>select</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_TRAVEL_RELATED_DATA</command-name>
      <output-type>dataset</output-type>
    </action-info>
    <action-info>
      <action-name>insert</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_INS_TRAVEL_EXPENSE_REQUEST</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getjourneymapping</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_JOURNEY_EXPENSE_MAPPING</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>gettravelclass</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_TRAVEL_CITY_CLASS</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getpolicyamount</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_DOMESTIC_POLICY_AMOUNT</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getexpenseids</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_EXPENSE_JOURNEY_MAPPING</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getjmcount</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_EXPENSE_JOURNEY_MAPPING_COUNT</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>insertaudittrail</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_AUDITTRAIL</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>insetmaildata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_HD_MAILLOG</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>pgetadvancedetails</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ADVANCE_DETAILS_USER</command-name>
      <output-type>dataset</output-type>
    </action-info>
    <action-info>
      <action-name>pgettravelclass</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_TRAVEL_CLASS</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>pgettravelrequestapprover</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ER_REQUEST_APPROVER</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getclasswiseperc</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_TRAVEL_EXPENSE_CLASS_PERC</command-name>
      <output-type>scalar</output-type>
    </action-info>

    <action-info>
      <action-name>getreimbursements</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_EXPENSE_REIMBURSEMENT</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getreimbursementcharge</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_EXPENSE_REIMBURSEMENT_CHARGE</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getsupportingperc</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_EXPENSE_SUPPORTING_DATA</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getpolicyclass</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_DOMESTIC_POLICY_CLASS</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>checkdates</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_TRAVEL_DATE_CHECK</command-name>
      <output-type>scalar</output-type>
    </action-info>
        <action-info>
      <action-name>getfiles</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_FILENAMES</command-name>
      <output-type>datatable</output-type>
    </action-info>
  </action-block>
</configuration>
