<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <action-block>
    <action-info>
      <action-name>select</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>WorkSpace</datasource-name>
      <command-name>P_GET_SEARCH</command-name>
      <param-name>txt_DomainName</param-name>
      <param-name>txtCreatedBy</param-name>
      <param-name>txt_procedure</param-name>
      <param-name>txt_SearchString</param-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>reportdata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_PENDING_REPORTDATA</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>sendbacklock</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_SEND_BACK_PO_ACKSTATUS</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>updatelock</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_CHANGE_PO_ACKSTATUS</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>selectpo</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_HD_PO_VALUE</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getpath</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_DOC_PATH</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>selectpovalue</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_PO_VALUE</command-name>
      <output-type>dataset</output-type>
    </action-info>

    <action-info>
      <action-name>sendbackpo</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_SEND_BACK_POVALUE</command-name>
      <param-name>txt_CREATED_BY</param-name>
      <output-type>datatable</output-type>
    </action-info>

      <action-info>
      <action-name>selectgrossvalue</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_GROSS_VALUE</command-name>
      <output-type>dataset</output-type>
    </action-info>
    
    <action-info>
      <action-name>getstatuscount</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_RPT_INVOICE_DETAILS_PO_WISE_STATUS</command-name>
      <output-type>scalar</output-type>
    </action-info>
  </action-block>
</configuration>

