<?xml version="1.0"?>
<configuration>
  <action-block>
    <action-info>
      <action-name>getvendordetails</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_VENDOR_DETAILS</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getvendordetailshistory</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_VENDOR_DETAILS_HISTORY</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>update</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_UPD_VENDOR_DETAILS</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getbankdetails</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_BANK_DETAILS</command-name>
      <output-type>datatable</output-type>
    </action-info>
  </action-block>
</configuration>
