<?xml version="1.0"?>
<configuration>
  <action-block>
    <action-info>
      <action-name>getmultiple</action-name>
      <dbprovider-name>SQL</dbprovider-name>
      <datasource-name>WFE</datasource-name>
      <command-name>P_GET_PERSONALQITEM_EARLY</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getpono</action-name>
      <dbprovider-name>SQL</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_PO_NUMBER</command-name>
      <output-type>scalar</output-type>
    </action-info>
  </action-block>
</configuration>
