<?xml version="1.0"?>
<configuration>
    <action-block>
      <action-info>
        <action-name>getpkdisp</action-name>
        <dbprovider-name>sql</dbprovider-name>
        <datasource-name>sme</datasource-name>
        <command-name>P_GET_DISPATCH_PKID</command-name>
        <output-type>scalar</output-type>
      </action-info>
      <action-info>
        <action-name>update</action-name>
        <dbprovider-name>sql</dbprovider-name>
        <datasource-name>sme</datasource-name>
        <command-name>P_UPD_EARLY_PAYMENT</command-name>
        <output-type>scalar</output-type>
      </action-info>
    </action-block>
</configuration>
