<?xml version="1.0"?>
<configuration>
  <action-block>
    <action-info>
      <action-name>getearlypaymentrequests</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_EARLY_PAYMENT_REQUESTS</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getearlysearch</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_EARLY_PAYMENT_REQUESTS_SEARCH</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>insert</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_EARLY_PAYMENT_REQUESTS</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getdispatchdetails</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_DISPATCH_NOTE_DETAILS</command-name>
      <output-type>dataset</output-type>
    </action-info>
    <action-info>
      <action-name>insertaudittrail</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_AUDITTRAIL</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>insetmaildata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_HD_MAILLOG</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getaccapprover</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ACC_APPROVER</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getfilenames</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_FILENAMES</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getname</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_FILENAME_DOWNLOAD</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getrequestid</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_REQUEST_ID</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getuniqueno</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_UNIQUE_NO</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getpath</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_DOC_PATH</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getuser</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_PO_USER</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getmailbody</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_SENDMAILBODY</command-name>
      <output-type>datatable</output-type>
    </action-info>
    
  </action-block>
</configuration>
