<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <action-block>
    <action-info>
      <action-name>select</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>workspace</datasource-name>
      <command-name>P_GET_SEARCH1</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>insert</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_AMD_EXPENSE_LOCATION_ROLE_MAPPING</command-name>
      <output-type>scalar</output-type>
    </action-info>    
    <action-info>
      <action-name>fill</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_FILL_EXPENSE_DROPDOWN</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getusers</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_SEARCH_USER</command-name>
      <output-type>datatable</output-type>
    </action-info>    
  </action-block>
</configuration>

