<?xml version="1.0"?>
<configuration>
  <action-block>
    <action-info>
      <action-name>selectall</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_EXPENSES_STATUS_ALLDATA</command-name>
      <output-type>dataset</output-type>
    </action-info>
    <action-info>
      <action-name>selectdata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_EXPENSES_STATUS_REPORT</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>vouchertype</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_VOUCHER_TYPE</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>     
      <action-name>appname</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_EXPENSE_APPROVAL_NAME</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getdocdetail</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_EXPENSES_DOCUMENT_DETAILS</command-name>
      <output-type>dataset</output-type>
    </action-info>
    <action-info>
      <action-name>getdeviate</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_EXPENSES_REPORT_DEVIATE</command-name>
      <output-type>scalar</output-type>
    </action-info>
  </action-block>
</configuration>
