<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <action-block>
    <action-info>
      <action-name>vouchertype</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_VOUCHER_TYPE</command-name>
      <output-type>datatable</output-type>
    </action-info>
    
    <action-info>
      <action-name>selectdata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_VOUCHER_TYPE_DATA</command-name>
      <output-type>datatable</output-type>
    </action-info>

  </action-block>
</configuration>

