<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <validation-block>

  </validation-block>
  <action-block>

    <action-info>
      <action-name>getmail</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_Get_Vendor_Mail</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>insertmaildata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_FORGOT_VENDOR_MAIL_ID</command-name>
      <output-type>scalar</output-type>
    </action-info>

    
  </action-block>
</configuration>
