<?xml version="1.0"?>
<configuration>
  <action-block>
    <action-info>
      <action-name>pgettraveluser</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>WorkSpace</datasource-name>
      <command-name>P_GET_TRAVEL_USER1</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>selectlocation</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_SEARCH1</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>select</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_TRAVEL_RELATED_DATA</command-name>
      <output-type>dataset</output-type>
    </action-info>
    <action-info>
      <action-name>insertaudittrail</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_AUDITTRAIL</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>insetmaildata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_HD_MAILLOG</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>pgettravelrequestapprover</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ER_REQUEST_APPROVER</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>checkdates</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_TRAVEL_DATE_CHECK</command-name>
      <output-type>scalar</output-type>
    </action-info>

    <action-info>
      <action-name>getreimbursements</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_EXPENSE_REIMBURSEMENT</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getexpenseids</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_FOREIGN_EXPENSE_JOURNEY_MAPPING</command-name>
      <output-type>dataset</output-type>
    </action-info>
    <action-info>
      <action-name>pgetadvancedetails</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_FOREIGN_ADVANCES</command-name>
      <output-type>dataset</output-type>
    </action-info>
    <action-info>
      <action-name>insert</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_FOREIGN_TRAVEL_REQUEST</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>update</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_UPD_FOREIGN_REQUEST</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getreleaseid</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>WFE</datasource-name>
      <command-name>P_GET_NEXT_RELEASE_ID</command-name>
      <output-type>scalar</output-type>
    </action-info>
    
    <action-info>
      <action-name>getincidentallimit</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_FTE_INCIDENTAL_LIMIT1</command-name>
      <output-type>datatable</output-type>
    </action-info>
    
      <action-info>
      <action-name>checkexist</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_FTE_EXIST_REQUEST_CHECK</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getfiles</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_FILENAMES</command-name>
      <output-type>datatable</output-type>
    </action-info>
      
  <action-info>
      <action-name>pgetpolicydata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_FOREIGN_POLICY_DATA</command-name>
      <output-type>datatable</output-type>
    </action-info>
  </action-block>
</configuration>
