<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <action-block>
    <action-info>
      <action-name>pgettraveluser</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>WorkSpace</datasource-name>
      <command-name>P_GET_TRAVEL_USER1</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>insetmaildata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_HD_MAILLOG</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>insertaudittrail</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_AUDITTRAIL</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getadvanids</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_FTA_ADVANCEIDS</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>pgettravelrequestapprover</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ER_REQUEST_APPROVER</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>selectdetails</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_FTA_FILLDROPDOWN</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>insert</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_FTA_REQUEST</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getaccapprover1</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ACC_APPROVER</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getaccapprover</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_TRAVEL_EXPENSE_APPROVER</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getperiod</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_FTA_PERIOD_LIMIT</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getallamount</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ADVANCE_TOTALAMT</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>insertmaildata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_HD_MAILLOG</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <!--added by pradeep-->
    <action-info>
      <action-name>getallamountforeing</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_FTA_TOTALAMT_FOREIGN</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getexchangerate</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_EXCHANGERATE_CURRNWISE</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getaccessid</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_FTA_FOREIGN_ACCESS</command-name>
      <output-type>scalar</output-type>
    </action-info>

    <action-info>
      <action-name>getfilenames</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_FILENAMES</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getreleaseid</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>WFE</datasource-name>
      <command-name>P_GET_NEXT_RELEASE_ID</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>update</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_UPD_FTA_REQUEST</command-name>
      <output-type>scalar</output-type>
    </action-info>
  </action-block>
</configuration>

