<?xml version="1.0"?>
<configuration>
  <action-block>
    <action-info>
      <action-name>pgetrequestdata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_FOREIGN_REQUEST_DETAILS</command-name>
      <output-type>dataset</output-type>
    </action-info>
    <action-info>
      <action-name>getexpamount</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_TRAVEL_REQUEST_EXP_AMOUNT</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>update</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_UPD_FOREIGN_REQUEST_APPROVAL</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getaccapprover1</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ACC_APPROVER</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getaccapprover</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_TRAVEL_EXPENSE_APPROVER</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getaudit</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_AUDIT_TRIL</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>pgetsummary</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_TRAVEL_REQUEST_SUMMARY</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>changepaymode</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_UPD_TRAVEL_PAY_MODE_CHANGE</command-name>
      <output-type>scalar</output-type>
    </action-info>

    <action-info>
      <action-name>getexpenseamount</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_FOREIGN_EXPENSE_AMOUNT</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>updateamount</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_UPD_FOREIGN_REQUEST_AMOUNT</command-name>
      <output-type>scalar</output-type>
    </action-info>
  
    <action-info>
      <action-name>getbankrfc1</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_RFC_BANK_STRING_FOREIGN1</command-name>
      <output-type>dataset</output-type>
    </action-info>

    <action-info>
      <action-name>getbankrfc</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_RFC_BANK_STRING_FOREIGN</command-name>
      <output-type>dataset</output-type>
    </action-info>
    <action-info>
      <action-name>getbankrfcdel</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_RFC_BANK_STRING_BULK_delete</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getbankrfcsum</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_RFC_BANK_STRING_BULK_sum</command-name>
      <output-type>datatable</output-type>
    </action-info>
  <action-info>
      <action-name>getreimbursementamount</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_FOREIGN_REIMBURSEWISE_TOTAL</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getbankdata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_FOREIGN_BANK_DATA</command-name>
      <output-type>datatable</output-type>
    </action-info>
  <action-info>
      <action-name>getexpheadwiseamount</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_FOREIGN_EXP_HEADWISE_AMOUNT</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getallowedamount</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_FOREIGN_EXP_HEAD_ALLOWED_AMOUNT</command-name>
      <output-type>scalar</output-type>
    </action-info>
  <action-info>
      <action-name>getexpenseamountdaywise</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_FOREIGN_EXPENSE_AMOUNT_DAYWISE</command-name>
      <output-type>scalar</output-type>
    </action-info>
  </action-block>
</configuration>
