<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <action-block>
    <action-info>
      <action-name>Write User Session Log</action-name>
      <dbprovider-name>oracle</dbprovider-name>
      <datasource-name>WorkSpace</datasource-name>
      <command-name>P_AMD_LOGIN</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>select panels</action-name>
      <dbprovider-name>oracle</dbprovider-name>
      <datasource-name>WorkSpace</datasource-name>
      <command-name>P_GET_PANE</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>select inbox</action-name>
      <dbprovider-name>oracle</dbprovider-name>
      <datasource-name>WorkSpace</datasource-name>
      <command-name>P_GET_INBOX</command-name>
      <output-type>datatable</output-type>
    </action-info>
  </action-block>
</configuration>

