<?xml version="1.0"?>
<configuration>
  <action-block>
    <action-info>
      <action-name>getdispatch_data</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_DISPATCH_NOTE_DATA</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getdispatch_data_twi</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_DISPATCH_NOTE_DATA_TWI</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>get_document_account</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_DISPATCH_NOTE_DOCUMENT_ACCOUNT</command-name>
      <output-type>datatable</output-type>
    </action-info>
    
    <action-info>
    <action-name>updatedoc</action-name>
    <dbprovider-name>sql</dbprovider-name>
    <datasource-name>sme</datasource-name>
    <command-name>P_UPD_HARD_DOCUMENT_REMARK</command-name>
    <output-type>scalar</output-type>
  </action-info>

    <action-info>
      <action-name>getdocument</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_PODOCUMENT_DOC_ACCOUNT</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>insertmaildata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_HD_MAILLOG</command-name>
      <output-type>scalar</output-type>
    </action-info>

    <action-info>
      <action-name>update</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_UPD_HARD_COPY_DOCUMENT</command-name>
      <output-type>scalar</output-type>
    </action-info>
    
  </action-block>
</configuration>
