<?xml version="1.0"?>
<configuration>
  <action-block>
  
   <action-info>
      <action-name>getdocument</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_PODOCUMENT_DOC_ACCOUNT</command-name>
      <output-type>datatable</output-type>
    </action-info>

  </action-block>
</configuration>
