<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <action-block>
    <action-info>
      <action-name>select menu tree</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>WorkSpace</datasource-name>
      <command-name>p_get_accessmenu</command-name>		
	  <param-name>sys_User_ADID</param-name>
      <param-name>hdntxt_Panel</param-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>select wi count</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>WFE</datasource-name>
      <command-name>P_GET_GROUPWI</command-name>      
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>select user count</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>WFE</datasource-name>
      <command-name>P_GET_USERWI</command-name>
      <param-name>sys_User_ADID</param-name>
      <output-type>datatable</output-type>
    </action-info>
  </action-block>
</configuration>
 