<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <validation-block>
    <control-info>
      <control-id>txtlogin</control-id>
      <display-name>Login Name</display-name>
      <init-param>
        <attribute-name>isMandatory</attribute-name>
        <attribute-value>true</attribute-value>
      </init-param>
      <init-param>
        <attribute-name>maxSize</attribute-name>
        <attribute-value>40</attribute-value>
      </init-param>
      <init-param>
        <attribute-name>minSize</attribute-name>
        <attribute-value>3</attribute-value>
      </init-param>
    </control-info>
    <control-info>
      <control-id>txtpassword</control-id>
      <display-name>Password</display-name>
      <init-param>
        <attribute-name>isMandatory</attribute-name>
        <attribute-value>true</attribute-value>
      </init-param>
      <init-param>
        <attribute-name>maxSize</attribute-name>
        <attribute-value>40</attribute-value>
      </init-param>
      <init-param>
        <attribute-name>minSize</attribute-name>
        <attribute-value>3</attribute-value>
      </init-param>
    </control-info>
    <control-info>
      <control-id>cboDomain</control-id>
      <display-name>Domain</display-name>
      <init-param>
        <attribute-name>isMandatory</attribute-name>
        <attribute-value>true</attribute-value>
      </init-param>
    </control-info>
  </validation-block>
  <action-block>
    <action-info>
      <action-name>Write User Session Log</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>WorkSpace</datasource-name>
      <command-name>P_AMD_LOGIN</command-name>
      <output-type>scalar</output-type>
    </action-info>

    <action-info>
      <action-name>select wi</action-name>
      <dbprovider-name>SQL</dbprovider-name>
      <datasource-name>WFE</datasource-name>
      <command-name>P_GET_GROUP_PER_QITEM</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>select userinfo</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>WorkSpace</datasource-name>
      <command-name>P_GET_USERINFO</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>vendorinfo</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>WorkSpace</datasource-name>
      <command-name>P_GET_VENDORINFO</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>select user</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>WorkSpace</datasource-name>
      <command-name>P_GET_HRUSERINFO</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getinfo</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_USER_AUTHENTICATE</command-name>
      <output-type>datatable</output-type>
    </action-info>
    
  </action-block>
</configuration>

