<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <action-block>
    <action-info>
      <action-name>selectdetails</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_EXPENSE_FILLDROPDOWN</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>insert</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_LOCAL_CONVEYANCE</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>inserttwi</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_UPD_MOBILE_LOCAL_DIRECT_APPROVAL</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>checkduplicate</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_LOCAL_CONVEYANCE_DUPLICATE</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>pgetadvancedetails</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ADVANCE_DETAILS_FORLOCAL</command-name>
      <output-type>dataset</output-type>
    </action-info>
    <action-info>
      <action-name>getapprover</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ACC_APPROVER</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>insetmaildata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_HD_MAILLOG</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getaccapprover</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ACC_APPROVER</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getexpense</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_LOCAL_CONVEYANCE_EXPENSE</command-name>
      <output-type>dataset</output-type>
    </action-info>
    
   <action-info>
    <action-name>pgettraveluser</action-name>
    <dbprovider-name>sql</dbprovider-name>
    <datasource-name>WorkSpace</datasource-name>
    <command-name>P_GET_TRAVEL_USER1</command-name>
    <output-type>datatable</output-type>
  </action-info>
    <action-info>
      <action-name>insertaudittrail</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_AUDITTRAIL</command-name>
      <output-type>scalar</output-type>
    </action-info>
  <action-info>
    <action-name>pgettravelrequestapprover</action-name>
    <dbprovider-name>sql</dbprovider-name>
    <datasource-name>sme</datasource-name>
    <command-name>P_GET_TRAVEL_REQUEST_APPROVER</command-name>
    <output-type>datatable</output-type>
  </action-info>
    <action-info>
      <action-name>getrequest_document</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_DOCUMENT_INFO</command-name>
      <output-type>datatable</output-type>
    </action-info>
  </action-block>
</configuration>

