<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <action-block>
    <action-info>
      <action-name>getdetails</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_LC_COMPLIANCE_REQUEST_REPORT</command-name>
      <output-type>dataset</output-type>
    </action-info>
    
  </action-block>
</configuration>

