<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <action-block>
    <action-info>
      <action-name>selectdetails</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_EXPENSE_FILLDROPDOWN</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>insetmaildata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_HD_MAILLOG</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>checksupport</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_EXPENSE_SUPPORING</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getsupportingperc</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_EXPENSE_SUPPORTING_DATA</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>insertaudittrail</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_AUDITTRAIL</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>insert</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_MOBILECARD_EXPENSE</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>insertded</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_MOBILE_DEDCTION</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>checkduplicate</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_MOBILECARD_DUPLICATE_ENTRY</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getexpense</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_GRADE_EXPENSE</command-name>
      <output-type>datatable</output-type>
    </action-info>
    
    <action-info>
      <action-name>getpolicy</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_MOBILECARD_POLICY_EXPENSE</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getapprover</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ACC_APPROVER</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getaccapprover</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ACC_APPROVER</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>inserttwi</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_UPD_MOBILE_LOCAL_DIRECT_APPROVAL</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>insertmaildata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_HD_MAILLOG</command-name>
      <output-type>scalar</output-type>
    </action-info>

    <action-info>
      <action-name>getdeductamount</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_MOBILE_DED_AMOUNT</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getdeddetail</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_MOBILE_DEDUCTION_DETAILS</command-name>
      <output-type>dataset</output-type>
    </action-info>
    <action-info>
      <action-name>getrequest_document</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_DOCUMENT_INFO</command-name>
      <output-type>datatable</output-type>
    </action-info>
  </action-block>
</configuration>

