<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <action-block>
    <action-info>
      <action-name>selectdetails</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_EXPENSE_FILLDROPDOWN</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>addetails</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_MOBILECARD_DETAILS</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getfilenames</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_FILENAMES</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getpolicy</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_MOBILECARD_POLICY_EXPENSE</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getexpense</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_GRADE_EXPENSE</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getapprover</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ACC_APPROVER</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getaccapprover</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ACC_APPROVER</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>update</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_UPD_MOBILECARD_EXPENSE</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>insertmaildata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_HD_MAILLOG</command-name>
      <output-type>scalar</output-type>
    </action-info>
  </action-block>
</configuration>

