<?xml version="1.0"?>
<configuration>
  <action-block>
    <action-info>
      <action-name>getmaterialreport</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_RPT_MATERIAL_REPORT</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getpendingpayments</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_RPT_PENDING_PAYMENT</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getpendingpaymentsvendor</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_RPT_PENDING_PAYMENT_VENDOR</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getpurchasegrn</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_RPT_PURCHASE_GRN_STATUS</command-name>
      <output-type>datatable</output-type>
    </action-info>
    
  </action-block>
</configuration>
