<?xml version="1.0"?>
<configuration>
   <action-block>
    <action-info>
      <action-name>getmasterparent</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>WorkSpace</datasource-name>
      <command-name>P_GET_ACCESSMENU_0</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getmasterchild</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>WorkSpace</datasource-name>
      <command-name>P_GET_ACCESSMENU_1</command-name>
      <output-type>datatable</output-type>
    </action-info>
     <action-info>
       <action-name>getheader</action-name>
       <dbprovider-name>sql</dbprovider-name>
       <datasource-name>WorkSpace</datasource-name>
       <command-name>P_GET_PANE_DESC</command-name>
       <output-type>scalar</output-type>
     </action-info>
  </action-block>
</configuration>
