<?xml version="1.0"?>
<configuration>
  <action-block>
    <action-info>
      <action-name>pgetdata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_VENDOR_MONTH_AND_PLANT_WISE</command-name>
      <output-type>DataSet</output-type>
    </action-info>
  </action-block>
</configuration>
