<?xml version="1.0"?>
<configuration>
  <action-block>
    <action-info>
      <action-name>selectdetails</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ADVANCE_FILLDROPDOWN</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>selectdata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_OPEN_ADVANCES_REPORT</command-name>
      <output-type>dataset</output-type>
    </action-info>
    <action-info>
      <action-name>selectall</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_OPEN_ADVANCES_ALLDATA</command-name>
      <output-type>dataset</output-type>
    </action-info>
    <action-info>
      <action-name>appname</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_OPEN_APPROVAL_NAME</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>pendingname</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_OPEN_PENDING_APPROVAL_NAME</command-name>
      <output-type>scalar</output-type>
    </action-info>
  </action-block>
</configuration>
