<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <action-block>
    <action-info>
      <action-name>getdata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_PENDING_SERVICE_PO_DATA</command-name>
      <output-type>datatable</output-type>
    </action-info>
     <action-info>
       <action-name>getvendor</action-name>
       <dbprovider-name>sql</dbprovider-name>
       <datasource-name>sme</datasource-name>
       <command-name>P_GET_SERVICE_VENDOR_NAME</command-name>
       <output-type>dataset</output-type>
     </action-info>
   </action-block>
</configuration>
