<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <validation-block>

  </validation-block>
  <action-block>

    <action-info>
      <action-name>getheader</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_POHEADER</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>insertmaildata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_HD_MAILLOG</command-name>
      <output-type>scalar</output-type>
    </action-info>

    <action-info>
      <action-name>getdetail</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_PODETAIL</command-name>
      <output-type>dataset</output-type>
    </action-info>

    <action-info>
      <action-name>getinco</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_POINCOTERMS</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getunique_id</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_PO_UniqueID</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getpayment_term</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_POPAYMENT_TERMS</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getschedule</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_POSCEDULE</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getapprover</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ACC_APPROVER</command-name>
      <output-type>datatable</output-type>
    </action-info>
    
    <action-info>
      <action-name>getpo</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_SCIL_PODETAILS</command-name>
      <output-type>datatable</output-type>
    </action-info>
    
    <action-info>
      <action-name>getdocument</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_PODOCUMENT</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>get_pk</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_DISPATCH_NOTE_ID</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getinvoice</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_PO_INVOICE_NO</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getmailid</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_APPROVAL_MAIL_ID</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>insert</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_PO_DISPATCH</command-name>
      <output-type>scalar</output-type>
    </action-info>

    <action-info>
      <action-name>insertearly</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_EARLY_PAYMENT_REQUESTS</command-name>
      <output-type>scalar</output-type>
    </action-info>

    
    <action-info>
      <action-name>getstore</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_STORES_APPROVER_PLANTWISE</command-name>
      <output-type>datatable</output-type>
    </action-info>

     <action-info>
      <action-name>getrequest_document</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_REQUEST_DOCUMENT</command-name>
      <output-type>datatable</output-type>
    </action-info>

  </action-block>
</configuration>
