<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <validation-block>

  </validation-block>
  <action-block>

    <action-info>
      <action-name>getpkdisp</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_DISPATCH_PKID</command-name>
      <output-type>scalar</output-type>
    </action-info>
    
    <action-info>
      <action-name>getheader</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_PO_MODIFICATION_HEADER</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getdetail</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_PO_MODIFICATION_DETAIL</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getinco</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_POINCOTERMS</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getunique_id</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_UPD_PO_UniqueID</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getpayment_term</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_POPAYMENT_TERMS</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getschedule</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_POSCEDULE</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getapprover</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ACC_APPROVER</command-name>
      <output-type>datatable</output-type>
    </action-info>
    
    <action-info>
      <action-name>getdocument</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_PODOCUMENT</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>get_pk</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_DISPATCH_NOTE_ID</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getinvoice</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_PO_INVOICE_NO</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>update</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_UPD_PO_DISPATCH</command-name>
      <output-type>scalar</output-type>
    </action-info>
 
  </action-block>
</configuration>
