<?xml version="1.0"?>
<configuration>
    <action-block>
      
      <action-info>
        <action-name>getpkdisp</action-name>
        <dbprovider-name>sql</dbprovider-name>
        <datasource-name>sme</datasource-name>
        <command-name>P_GET_DISPATCH_PKID</command-name>
        <output-type>scalar</output-type>
      </action-info>

      <action-info>
        <action-name>getaudit</action-name>
        <dbprovider-name>sql</dbprovider-name>
        <datasource-name>sme</datasource-name>
        <command-name>P_GET_AUDIT_TRIL</command-name>
        <output-type>datatable</output-type>
      </action-info>

      <action-info>
        <action-name>action</action-name>
        <dbprovider-name>sql</dbprovider-name>
        <datasource-name>sme</datasource-name>
        <command-name>P_GET_APPROVAL_ACTION</command-name>
        <output-type>datatable</output-type>
      </action-info>
      
      <action-info>
        <action-name>update</action-name>
        <dbprovider-name>sql</dbprovider-name>
        <datasource-name>sme</datasource-name>
        <command-name>P_UPD_DISPATCH_APPROVAL</command-name>
        <output-type>scalar</output-type>
      </action-info>
    </action-block>
</configuration>
