<?xml version="1.0"?>
<configuration>
  <action-block>
    <action-info>
      <action-name>getreportdata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_EXPENSE_REQUEST_STATUS_REPORT</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getmyexpenserequest</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_EXPENSE_MY_REQUEST_STATUS_REPORT</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getexpensebycorporatecard</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_EXPENSE_CORPORATE_CREDIT_REQUEST_STATUS_REPORT</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>      
      <action-name>pgetdocuments</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_EXPENSE_DOCUMENTS</command-name>
      <output-type>datatable</output-type>
    </action-info>
    
    <action-info>
      <action-name>getpaymentmode</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_TRAVEL_EXPENSE_PAYMENT_MODE</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      
      <action-name>getreport</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_TRAVEL_EXPENSE_NEFT_REPORT</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>changeflag</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_TRAVEL_EXPENSE_NEFT_REPORT</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getbankdata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_TRAVEL_EXPENSE_BANK_DATA</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getpktransid</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_TRAVEL_EXPENSE_PK_TRANS_ID</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getadvancereport</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ADVANCE_REPORT</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getrfcexpenserequest</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_RFC_EXPENSE_REQUEST_STATUS_REPORT</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>checkavail</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ER_REQUEST_PRINTABLE_OR_NOT</command-name>
      <output-type>scalar</output-type>
    </action-info>
  </action-block>
</configuration>
