<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <validation-block>
    <control-info>
      <control-id>txt_RoleDesc</control-id>
      <display-name>Role Description</display-name>
      <init-param>
        <attribute-name>isMandatory</attribute-name>
        <attribute-value>false</attribute-value>
      </init-param>
      <init-param>
        <attribute-name>maxSize</attribute-name>
        <attribute-value>200</attribute-value>
      </init-param>
      <init-param>
        <attribute-name>specialValidations</attribute-name>
        <attribute-value>isspecialchar</attribute-value>
      </init-param>
    </control-info>
    <control-info>
      <control-id>txt_RoleName</control-id>
      <display-name>Role</display-name>
      <init-param>
        <attribute-name>isMandatory</attribute-name>
        <attribute-value>true</attribute-value>
      </init-param>
      <init-param>
        <attribute-name>maxSize</attribute-name>
        <attribute-value>50</attribute-value>
      </init-param>
      <init-param>
        <attribute-name>specialValidations</attribute-name>
        <attribute-value>isspecialchar</attribute-value>
      </init-param>
    </control-info>
    <control-info>
      <control-id>ddl_CompanyID</control-id>
      <display-name>Company ID</display-name>
      <init-param>
        <attribute-name>isMandatory</attribute-name>
        <attribute-value>true</attribute-value>
      </init-param>
      <init-param>
        <attribute-name>maxSize</attribute-name>
        <attribute-value>20</attribute-value>
      </init-param>
    </control-info>
    <control-info>
      <control-id>txt_Edit_Role</control-id>
      <display-name>Role</display-name>
      <init-param>
        <attribute-name>isMandatory</attribute-name>
        <attribute-value>true</attribute-value>
      </init-param>
      <init-param>
        <attribute-name>maxSize</attribute-name>
        <attribute-value>50</attribute-value>
      </init-param>
      <init-param>
        <attribute-name>specialValidations</attribute-name>
        <attribute-value>isspecialchar</attribute-value>
      </init-param>
    </control-info>    
    <control-info>
      <control-id>txt_Edit_RoleDesc</control-id>
      <display-name>Role Description</display-name>
      <init-param>
        <attribute-name>isMandatory</attribute-name>
        <attribute-value>false</attribute-value>
      </init-param>
      <init-param>
        <attribute-name>maxSize</attribute-name>
        <attribute-value>200</attribute-value>
      </init-param>
      <init-param>
        <attribute-name>specialValidations</attribute-name>
        <attribute-value>isspecialchar</attribute-value>
      </init-param>
    </control-info>
    <control-info>
      <control-id>txt_SearchPattern</control-id>
      <display-name>search criteria</display-name>
      <init-param>
        <attribute-name>isMandatory</attribute-name>
        <attribute-value>true</attribute-value>
      </init-param>
      <init-param>
        <attribute-name>maxSize</attribute-name>
        <attribute-value>40</attribute-value>
      </init-param>
    </control-info>
  </validation-block>
  <action-block>
    <action-info>
      <action-name>insert role</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>WorkSpace</datasource-name>
      <command-name>p_AMD_ACCESS_ROLES</command-name>
      <param-name>txt_ActionCondn</param-name>
      <param-name>txt_RoleID</param-name>
      <param-name>txt_RoleName</param-name>     
      <param-name>txt_RoleDesc</param-name>
      <param-name>ddl_CompanyID</param-name>
      <param-name>sys_User_ADID</param-name>
      <param-name>txt_ActionDate</param-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>update role</action-name>
      <dbprovider-name>oracle</dbprovider-name>
      <datasource-name>WorkSpace</datasource-name>
      <command-name>p_AMD_ACCESS_ROLES</command-name>
      <param-name>txt_ActionCondn</param-name>
      <param-name>txt_RoleID</param-name>
      <param-name>txt_Edit_Role</param-name>
      <param-name>txt_Edit_RoleDesc</param-name>
      <param-name>txt_CompanyID</param-name>
      <param-name>sys_User_ADID</param-name>
      <param-name>txt_ActionDate</param-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>select roles</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>WorkSpace</datasource-name>
      <command-name>P_GET_ACCESS_ROLES</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>select company</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>WorkSpace</datasource-name>
      <command-name>P_GET_COMPANY</command-name>
      <output-type>datatable</output-type>
    </action-info>
    </action-block>
</configuration>

