<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <validation-block>
    <control-info>
      <control-id>txt_SearchPattern</control-id>
      <display-name>Role</display-name>
      <init-param>
        <attribute-name>isMandatory</attribute-name>
        <attribute-value>true</attribute-value>
      </init-param>
      <init-param>
        <attribute-name>maxSize</attribute-name>
        <attribute-value>50</attribute-value>
      </init-param>
    </control-info>
  </validation-block>
  <action-block>
    <action-info>
      <action-name>select roles</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>WorkSpace</datasource-name>
      <command-name>P_GET_ACCESS_ROLES</command-name>
      <param-name>txt_ActionCondn</param-name>
      <param-name>txt_SearchPattern</param-name>
      <param-name>sys_User_ADID</param-name>
      <output-type>datatable</output-type>
    </action-info>
    </action-block>
</configuration>

