<?xml version="1.0"?>
<configuration>
  <action-block>
    <action-info>
      <action-name>getacknowledgement</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ACKNOWLEDGEMENT</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>update</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_AMD_ACKNOWLEDGEMENT</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getmailids</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_MAILID</command-name>
      <output-type>scalar</output-type>
    </action-info>
  </action-block>
</configuration>
