<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <action-block>
    <action-info>
      <action-name>select</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>workspace</datasource-name>
      <command-name>P_GET_SEARCH1</command-name>
      <param-name>txt_DomainName</param-name>
      <param-name>txtCreatedBy</param-name>
      <param-name>txt_procedure</param-name>
      <param-name>txt_SearchString</param-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>insert</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_AMD_Service_Provider</command-name>
      <output-type>scalar</output-type>
    </action-info>

  </action-block>
</configuration>