<?xml version="1.0"?>
<configuration>
  <action-block>
    
    <action-info>
      <action-name>getusers</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_RFC_USERS</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>insertreimbursement</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_AMD_SAP_EMPLOYEE_REIMBURSEMENT</command-name>
      <output-type>scalar</output-type>
    </action-info>

    
    <action-info>
      <action-name>mobilededuction</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_AMD_SAP_MOBILE_DEDUCTION</command-name>
      <output-type>scalar</output-type>
    </action-info>


  </action-block>
</configuration>
