<?xml version="1.0"?>
<configuration>
  <action-block>
    <action-info>
      <action-name>getinvoicedetails</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_RPT_SERVICE_INVOICE_DETAILS_REPORT</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getinvoicedetailspo</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_RPT_SERVICE_INVOICE_DETAILS_PO_WISE</command-name>
      <output-type>datatable</output-type>
    </action-info>

  </action-block>
</configuration>
