<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <validation-block>

  </validation-block>
  <action-block>


    <action-info>
      <action-name>getpo</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_SERVICE_PODETAILS</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getheader</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_SERVICEPO_HEADER</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>insertmaildata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_HD_MAILLOG</command-name>
      <output-type>scalar</output-type>
    </action-info>

    <action-info>
      <action-name>getdetail</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_PODETAIL1</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getinco</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_POINCOTERMS</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getunique_id</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_SERVICE_PO_UniqueID</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getpayment_term</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_POPAYMENT_TERMS</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getschedule</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_POSCEDULE</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getapprover</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ACC_APPROVER</command-name>
      <output-type>datatable</output-type>
    </action-info>


    <action-info>
      <action-name>getdocument</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_SERVICEPODOCUMENT</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>get_pk</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_DISPATCH_NOTE_ID</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getinvoice</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_PO_INVOICE_NO_service</command-name>
      <output-type>datatable</output-type>
    </action-info>   

    <action-info>
      <action-name>insert</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_SERVICE_PO_DISPATCH</command-name>
      <output-type>scalar</output-type>
    </action-info>

    <action-info>
      <action-name>insertearly</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_EARLY_PAYMENT_REQUESTS</command-name>
      <output-type>scalar</output-type>
    </action-info>


    <action-info>
      <action-name>getstore</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_STORES_APPROVER_PLANTWISE</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getrequest_document</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_REQUEST_DOCUMENT</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getservpoitmdtl</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_SERVICEPO_ITEM_DTL</command-name>
      <output-type>datatable</output-type>
    </action-info>


    <action-info>
      <action-name>insetmaildata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_HD_MAILLOG</command-name>
      <output-type>scalar</output-type>
    </action-info>

    <action-info>
      <action-name>getfilenames</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_FILENAMES</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getreleaseid</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>WFE</datasource-name>
      <command-name>P_GET_NEXT_RELEASE_ID</command-name>
      <output-type>scalar</output-type>
    </action-info>

    <action-info>
      <action-name>getmailid</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_APPROVAL_MAIL_ID_SERVICE_PO</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getchkqtyvalue</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_SERVICEPO_ITEM_DTL_QTY_VALUE</command-name>
      <output-type>datatable</output-type>
    </action-info>

  </action-block>
</configuration>
