<?xml version="1.0"?>
<configuration>
  <action-block>

    <action-info>
      <action-name>getservicedata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_SERVICE_DISPATCH_DATA</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getdtl</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_RPT_SERVICE_PODETAIL</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getpodetails</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_RPT_SERVICE_DIS_NOTE_PODETAILS</command-name>
      <output-type>dataset</output-type>
    </action-info>

    <action-info>
      <action-name>getvendor</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_SERVICE_VENDOR_NAME</command-name>
      <output-type>dataset</output-type>
    </action-info>
    <action-info>
      <action-name>getselpo</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_SERVICE_VENDOR_PO</command-name>
      <output-type>datatable</output-type>
    </action-info>
  
     <action-info>
      <action-name>dis_dtl</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_RPT_SERVICE_DISPATCH_PODETAIL</command-name>
      <output-type>datatable</output-type>
    </action-info>

  </action-block>
</configuration>
