<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <validation-block>
    <control-info>
      <control-id>txt_Search_RoleName</control-id>
      <display-name>Role</display-name>
      <init-param>
        <attribute-name>isMandatory</attribute-name>
        <attribute-value>true</attribute-value>
      </init-param>
    </control-info>
    <control-info>
      <control-id>txt_Search_UserName</control-id>
      <display-name>User Name</display-name>
      <init-param>
        <attribute-name>isMandatory</attribute-name>
        <attribute-value>true</attribute-value>
      </init-param>
    </control-info>
    <control-info>
      <control-id>txt_XMLData</control-id>
      <display-name>User Role Map</display-name>
      <init-param>
        <attribute-name>isMandatory</attribute-name>
        <attribute-value>true</attribute-value>
      </init-param>
     </control-info>
   </validation-block>
   <action-block>
     <action-info>
       <action-name>select user-role map</action-name>
       <dbprovider-name>sql</dbprovider-name>
       <datasource-name>WorkSpace</datasource-name>
       <command-name>p_get_user_role_map</command-name>
       <output-type>datatable</output-type>
     </action-info>
      <action-info>
       <action-name>save user-role map</action-name>
       <dbprovider-name>sql</dbprovider-name>
       <datasource-name>WorkSpace</datasource-name>
       <command-name>p_amd_usr_access_role_map_make</command-name>
       <param-name>txt_XMLData</param-name> 
       <param-name>sys_User_ADID</param-name>
       <output-type>scalar</output-type>
     </action-info>
     <action-info>
       <action-name>select user role map request summary</action-name>
       <dbprovider-name>sql</dbprovider-name>
       <datasource-name>WorkSpace</datasource-name>
       <command-name>p_get_userrolemap_summary</command-name>
       <output-type>datatable</output-type>
     </action-info>
     <action-info>
       <action-name>select user role map request summary detail</action-name>
       <dbprovider-name>sql</dbprovider-name>
       <datasource-name>WorkSpace</datasource-name>
       <command-name>p_get_userrolemap_detail</command-name>
       <output-type>datatable</output-type>
     </action-info>
  </action-block>
</configuration>

