<?xml version="1.0"?>
<configuration>
  <action-block>
    <action-info>
      <action-name>getdispatchnoterpt</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_RPT_DISPATCH_NOTE_REPORT</command-name>
      <output-type>datatable</output-type>
    </action-info>

     <action-info>
      <action-name>getearlypaymentrpt</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_RPT_EARLY_PAYMENT_REPORT</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getvendor</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_DISPATCH_VENDOR_NAME</command-name>
      <output-type>dataset</output-type>
    </action-info> 

    <action-info>
      <action-name>getselpo</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_VENDOR_PO</command-name>
      <output-type>datatable</output-type>
    </action-info> 
    
    <action-info>
      <action-name>getpendingmaterial</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_Get_Pending_Material_Details</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getvendorname</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_DISPATCH_VENDOR_DATA</command-name>
      <output-type>datatable</output-type>
    </action-info>
    

  </action-block>
</configuration>
