<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <action-block>
    <action-info>
      <action-name>vouchertype</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_VOUCHER_TYPE</command-name>
      <output-type>datatable</output-type>
    </action-info>    
    <action-info>
      <action-name>selectdata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_UNAPPROVED_FUNDS_REPORT</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>selectalldata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_UNAPPROVED_FUNDS_ALLDATA</command-name>
      <output-type>dataset</output-type>
    </action-info>
    <action-info>
      <action-name>selectdetails</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_EXPENSE_FILLDROPDOWN</command-name>
      <output-type>datatable</output-type>
    </action-info>
 <action-info>
      <action-name>pendingname</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_OPEN_PENDING_APPROVAL_NAME</command-name>
      <output-type>scalar</output-type>
    </action-info>
  </action-block>
</configuration>

