<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <validation-block>

  </validation-block>
  <action-block>

    <action-info>
      <action-name>getmultiple</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_BLOCK_VENDORS</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>update</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_UPD_VENDOR_LOGIN_ATTEMPT</command-name>
      <output-type>scalar</output-type>
    </action-info>

    
  </action-block>
</configuration>
