<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <action-block>
    <action-info>
      <action-name>getdata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_RPT_VENDOR_ADVANCE</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>invoiceamount</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_VENDOR_CUMUINVOICE</command-name>
      <output-type>dataSet</output-type>
    </action-info>
    <action-info>
      <action-name>getpath</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_DOC_PATH</command-name>
      <output-type>scalar</output-type>
    </action-info>
  </action-block>
</configuration>

