<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <action-block>
    <action-info>
      <action-name>selectdata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_VENDOR_MATRIX_DETAILS</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>selectvendor</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_GET_ALL_VENDOR</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>count</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_Get_Vendor_Matrix_Count</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>getacknowdata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_Get_Vendor_MatrixData_Report</command-name>
      <output-type>datatable</output-type>
    </action-info>
   </action-block>
</configuration>

