<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <validation-block>

  </validation-block>
  <action-block>

    <action-info>
      <action-name>getheader</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_ADVANCEPO_HEADER</command-name>
      <output-type>datatable</output-type>
    </action-info>

    
    <action-info>
      <action-name>getpo</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_Advance_release_po</command-name>
      <output-type>datatable</output-type>
    </action-info>

    <action-info>
      <action-name>getmailid</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_Vendor_MAIL_ID</command-name>
      <output-type>dataset</output-type>
    </action-info>


    <action-info>
      <action-name>insert</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_PO_ADVANCE_REQUEST</command-name>
      <output-type>scalar</output-type>
    </action-info>
    
  </action-block>
</configuration>
