<?xml version="1.0"?>
<configuration>
  <action-block>
    <action-info>
      <action-name>getdata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_VENDOR_CHART_REPORT</command-name>
      <output-type>dataset</output-type>
    </action-info>

    <action-info>
      <action-name>sendbacklock</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_SEND_BACK_PO_ACKSTATUS</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>updatelock</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>SME</datasource-name>
      <command-name>P_CHANGE_PO_ACKSTATUS</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>selectpo</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_HD_PO_VALUE</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getpath</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_DOC_PATH</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>selectpovalue</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_PO_VALUE</command-name>
      <output-type>DataTable</output-type>
    </action-info>

    <action-info>
      <action-name>sendbackpo</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_SEND_BACK_POVALUE</command-name>
      <param-name>txt_CREATED_BY</param-name>
      <output-type>datatable</output-type>
    </action-info>

  </action-block>
</configuration>
