<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <action-block>
    <action-info>
      <action-name>select</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>workspace</datasource-name>
      <command-name>P_GET_SEARCH</command-name>
      <param-name>txt_DomainName</param-name>
      <param-name>txtCreatedBy</param-name>
      <param-name>txt_procedure</param-name>
      <param-name>txt_SearchString</param-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>insert</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_AMD_VENDOR_DISCOUNT_RATE</command-name>
      <output-type>scalar</output-type>
    </action-info>

    <action-info>
      <action-name>vendordata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_VENDOR_DISCOUNT_RATE</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getusers</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_SEARCH_USER</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>getdata</action-name>
      <dbprovider-name>sql</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_GET_VENDOR_DATA_DISCOUNT_RATE</command-name>
      <output-type>datatable</output-type>
    </action-info>
  </action-block>
</configuration>

