<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <validation-block>
    
  </validation-block>
  <action-block>
    <action-info>
      <action-name>select inbox</action-name>
      <dbprovider-name>oracle</dbprovider-name>
      <datasource-name>WorkSpace</datasource-name>
      <command-name>P_GET_INBOX</command-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>select user preferrance</action-name>
      <dbprovider-name>oracle</dbprovider-name>
      <datasource-name>WorkSpace</datasource-name>
      <command-name>p_get_inboxcolumns</command-name>
      <param-name>sys_User_ADID</param-name>
      <param-name>txt_WQTAG</param-name>
      <output-type>dataset~2</output-type>   
    </action-info>
    <action-info>
      <action-name>select group wi</action-name>
      <dbprovider-name>SQL</dbprovider-name>
      <datasource-name>WFE</datasource-name>
      <command-name>P_GET_GROUPQITEM</command-name>
      <param-name>txt_WQTAG</param-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>select user wi</action-name>
      <dbprovider-name>SQL</dbprovider-name>
      <datasource-name>WFE</datasource-name>
      <command-name>P_GET_PERSONALQITEM</command-name>
      <param-name>sys_User_ADID</param-name>
      <output-type>datatable</output-type>
    </action-info>
    <action-info>
      <action-name>assigntask</action-name>
      <dbprovider-name>SQL</dbprovider-name>
      <datasource-name>WFE</datasource-name>
      <command-name>P_UPD_PERFORMER_BULK</command-name>
      <output-type>scalar</output-type>
    </action-info>
    <action-info>
      <action-name>insertqueryrequest</action-name>
      <dbprovider-name>SQL</dbprovider-name>
      <datasource-name>sme</datasource-name>
      <command-name>P_INS_QUERY</command-name>
      <output-type>scalar</output-type>
    </action-info>
    
  </action-block>
</configuration>

